*:not(button, input) {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

canvas {
    border-radius: 6px;
    overflow: hidden;
    transition: none;
}

canvas:focus {
    border: 1px solid rgba(255, 255, 255, 0.559);
}

canvas:not(:focus) {
    opacity: 0.4;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

#canvas-container {
    width: 100vw; height: 100vh; border-radius: 6px;
}

#state {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #ffffff0c;
    color:#ffffff7d; 
    transition: 450ms;
}